img{border:ridge 10px orange;padding: 9px;margin: 12px;background-color: cyan;}
h1{border:groove 10px green;padding: 4px;margin: 6px;background-color: red;}
h3{border: dashed 10px blue;padding: 12px;margin: 30px;background-color: beige}
body{background-color: darkgrey}